@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic);
body {
  background-color: #1f004d;
  font-family: 'Noto Sans', sans-serif;
  color: #000; }

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40vh;
  background-image: url("/images/covers/cover1.jpg");
  background-position: 50% 50%;
  background-size: cover;
  transition: all 500ms;
  text-align: center;
  z-index: 9999; }
  header img.title {
    width: 60%;
    height: auto;
    position: absolute;
    bottom: 60px;
    margin-left: -30%;
    transition: all 500ms; }
  header #nav {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    background: #6600ff;
    /* Old browsers */
    background: -moz-linear-gradient(left, #4700b3 0%, #751aff 100%);
    background: -webkit-linear-gradient(left, #4700b3 0%, #751aff 100%);
    background: linear-gradient(to right, #4700b3 0%, #751aff 100%);
    color: #d9d9d9; }
    header #nav ul {
      margin-left: 5%; }
    header #nav li {
      float: left;
      display: block;
      font-size: 20px; }
      header #nav li label {
        display: block;
        padding: 15px;
        cursor: pointer; }
      header #nav li:hover {
        background-color: #cccccc;
        color: #1f004d; }
    header #nav li:hover div {
      visibility: visible;
      opacity: 1;
      transition-delay: 0s; }
  header div.menu {
    visibility: hidden;
    opacity: 0;
    float: left;
    position: absolute;
    width: 90%;
    left: 5%;
    top: 50px;
    font-size: 20px !important;
    cursor: default;
    background: #cccccc;
    /* Old browsers */
    background: -moz-linear-gradient(top, #cccccc 0%, #e6e6e6 100%);
    background: -webkit-linear-gradient(top, #cccccc 0%, #e6e6e6 100%);
    background: linear-gradient(to bottom, #cccccc 0%, #e6e6e6 100%);
    color: #1f004d;
    padding: 15px;
    text-align: left;
    min-height: 200px;
    max-height: 400px;
    overflow-y: scroll;
    transition: visibility 0s linear 0.2s, opacity 200ms ease-out; }
  header.small {
    height: 100px; }
    header.small img.title {
      width: 407px;
      margin-left: -203px;
      height: 50px;
      bottom: 40px; }
    header.small #nav {
      height: 30px; }
      header.small #nav li {
        font-size: 16px; }
        header.small #nav li label {
          padding: 7px; }
    header.small div.menu {
      top: 30px; }
  header.head1 {
    background-image: url("/images/covers/cover1.jpg"); }
  header.head2 {
    background-image: url("/images/covers/cover2.jpg"); }
  header.head3 {
    background-image: url("/images/covers/cover3.jpg"); }
  header.head4 {
    background-image: url("/images/covers/cover4.jpg"); }
  header.head5 {
    background-image: url("/images/covers/cover5.jpg"); }
  header.head6 {
    background-image: url("/images/covers/cover6.jpg"); }
  header.head7 {
    background-image: url("/images/covers/cover7.jpg"); }
  header.head8 {
    background-image: url("/images/covers/cover8.jpg"); }

.menu-checkbox {
  display: none; }

.menu-checkbox:checked ~ div.menu {
  visibility: visible;
  opacity: 1; }

.menu-checkbox:checked ~ label {
  background-color: #cccccc;
  color: #1f004d; }

div.menuitem {
  display: inline-block;
  width: 120px;
  text-align: center;
  margin: 5px;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: normal;
  vertical-align: top; }
  div.menuitem img {
    max-width: 100px;
    max-height: 100px;
    margin-left: auto;
    margin-right: auto; }

#spacer {
  height: 40vh;
  background: #6600ff;
  /* Old browsers */
  background: -moz-linear-gradient(left, #4700b3 0%, #751aff 100%);
  background: -webkit-linear-gradient(left, #4700b3 0%, #751aff 100%);
  background: linear-gradient(to right, #4700b3 0%, #751aff 100%); }
  #spacer.small {
    height: 100px; }

#wrap {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background: #1f004d; }

#main {
  background: white;
  min-height: 0;
  width: 100%;
  padding: 10px; }

footer {
  position: relative;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  color: #d9d9d9;
  font-size: 14px;
  line-height: 120%;
  padding-top: 40px;
  padding-bottom: 40px; }
  footer a {
    color: inherit;
    text-decoration: underline; }
    footer a:hover {
      color: inherit; }
  footer small {
    font-size: 12px; }

ul.productgrid {
  text-align: center; }
  ul.productgrid > li {
    display: inline-block;
    vertical-align: middle;
    width: 210px;
    margin-bottom: 30px; }
    ul.productgrid > li > a {
      outline: none;
      display: block;
      position: relative;
      vertical-align: top; }
      ul.productgrid > li > a > img {
        width: auto;
        height: auto;
        max-width: 200px;
        max-height: 200px; }

a.expand::after {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #cccccc;
  border-width: 15px;
  left: 50%;
  margin: -20px 0 0 -15px;
  top: 98%; }

div.expand {
  background: #cccccc;
  /* Old browsers */
  background: -moz-linear-gradient(top, #cccccc 0%, #e6e6e6 100%);
  background: -webkit-linear-gradient(top, #cccccc 0%, #e6e6e6 100%);
  background: linear-gradient(to bottom, #cccccc 0%, #e6e6e6 100%);
  display: none;
  z-index: 999;
  position: absolute;
  width: 100%;
  left: 0;
  padding: 15px;
  text-align: left; }
  div.expand div.image {
    width: 40%;
    float: left;
    text-align: right; }
  div.expand img {
    max-width: 100%;
    height: auto; }
  div.expand div.info {
    display: block;
    position: absolute;
    width: 50%;
    left: 42%;
    margin-bottom: 20px; }
  div.expand h2 {
    font-size: 26px;
    margin-bottom: 10px; }
  div.expand li {
    line-height: 140%;
    font-weight: bold; }
  div.expand a.otherproducts {
    font-weight: bold;
    line-height: 450%; }

div.clear {
  height: 0;
  clear: both; }

div.clearspace {
  height: 40px;
  clear: both; }

span.nowrap {
  white-space: nowrap; }

h3 {
  font-size: 20px;
  font-variant: small-caps;
  margin-bottom: 5px; }

a {
  color: #6600ff;
  text-decoration: none; }
  a:hover {
    color: #1f004d; }

p {
  margin-bottom: 10px;
  line-height: 130%; }
  p.intro {
    font-size: 160%;
    font-weight: bold; }

span.purple {
  color: #6600ff; }

#main ul {
  list-style-type: disc;
  line-height: 160%;
  margin-bottom: 10px; }

.cc_container {
  color: #666 !important; }
  .cc_container a:link, .cc_container a:active, .cc_container a:visited {
    color: #6600ff !important; }
  .cc_container a:hover {
    color: #1f004d !important; }
  .cc_container a.cc_btn {
    color: white !important; }
    .cc_container a.cc_btn:link, .cc_container a.cc_btn:active, .cc_container a.cc_btn:visited {
      background-color: #6600ff !important; }
    .cc_container a.cc_btn:hover {
      background-color: #1f004d !important; }

@media screen and (max-width: 750px) {
  ul.productgrid li {
    width: 32%; }

  header img.title {
    width: 80%;
    margin-left: -40%; } }
@media screen and (max-width: 500px) {
  ul.productgrid li {
    width: 49%; }

  header {
    height: 30vh; }

  #spacer {
    height: 30vh; }

  header img.title {
    width: 80%;
    margin-left: -40%; }

  header.small {
    height: 20vh; }
    header.small img.title {
      width: 80%;
      margin-left: -40%;
      height: auto;
      bottom: 60px; }
    header.small #nav {
      height: 50px; }
      header.small #nav li {
        font-size: 20px; }
        header.small #nav li label {
          padding: 15px; }

  #wrap, header div.menu {
    width: 96%;
    left: 2%; }

  #nav ul {
    margin-left: 2% !important; } }
@media screen and (max-width: 404px) {
  header {
    height: 60vh; }

  #spacer {
    height: 60vh; }

  header img.title {
    bottom: 160px; }

  #nav {
    height: 150px !important; }

  li {
    width: 98%;
    text-align: left; }

  header.small img.title {
    bottom: 10px; }
  header.small #nav {
    display: none; } }
