@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic);
body {
  color: black;
  background: #d9d9d9;
  font-family: 'Noto Sans', sans-serif;
  margin: 0; }

a {
  text-decoration: none; }
  a:link, a:active, a:visited {
    color: #6600ff; }
  a:hover {
    color: #140033; }

div.cover {
  margin-bottom: -5px; }

.coverimage {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: -9999; }

div.coverlogo {
  position: relative; }
  div.coverlogo img {
    position: absolute;
    bottom: 25px;
    left: 20%;
    width: 60%;
    height: auto; }

h1.covertitle {
  display: none; }

div.socialmedia {
  position: absolute;
  top: 1%;
  left: 2%;
  text-align: left;
  height: 7%;
  width: 90%; }
  div.socialmedia img {
    width: auto;
    height: 100%;
    margin-right: 5px; }

div.container {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  background-color: #bcbcbc; }

div.left {
  width: 210px;
  float: left;
  margin-left: 10px;
  min-height: 1400px; }
  div.left h3 {
    font-size: 18px;
    font-weight: bold;
    font-variant: small-caps;
    color: #333;
    margin-top: 0;
    margin-bottom: -20px; }
  div.left ul {
    font-size: 15px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em; }
    div.left ul ul {
      text-indent: -0.8em; }

div.right {
  margin-left: 210px;
  vertical-align: top;
  height: 100%; }

div.content {
  padding: 10px;
  background-color: white;
  font-size: 16px;
  min-height: 1400px; }
  div.content h2 {
    margin-top: -5px;
    margin-bottom: 0px;
    font-size: 50px;
    font-weight: bold; }
  div.content div.category p {
    margin-top: -5px;
    font-style: italic; }

ul.products {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0; }
  ul.products li {
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: auto;
    border-bottom: 1px dotted #aaa; }
    ul.products li:last-child {
      border-bottom: none; }
    ul.products li h3 a {
      color: #330080; }
      ul.products li h3 a:hover {
        color: black; }
    ul.products li .productimage {
      position: relative;
      float: left;
      width: 200px; }
      ul.products li .productimage img {
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 200px !important;
        max-height: 200px !important;
        width: auto;
        height: auto; }
      ul.products li .productimage .new {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.6);
        color: white;
        text-align: center;
        font-weight: bold; }
    ul.products li .product-desc {
      margin-left: 220px; }
    ul.products li h3 {
      font-size: 20px;
      margin: 0; }
    ul.products li p {
      margin-top: 0; }
    ul.products li p.price {
      font-weight: bold;
      margin-bottom: -5px;
      color: maroon; }
    ul.products li ul.producttags {
      display: inline;
      list-style: none;
      font-style: italic;
      margin-left: 0;
      padding-left: 0;
      text-indent: 0; }
      ul.products li ul.producttags li {
        display: inline;
        margin-right: -0.12em;
        border: none; }
      ul.products li ul.producttags li + li:before {
        content: ", "; }
      ul.products li ul.producttags li:first-child:before {
        content: "Categories: "; }
    ul.products li ul.buy {
      font-weight: bold;
      margin-top: 5px;
      padding-left: 0; }
      ul.products li ul.buy li {
        padding: 0;
        border-bottom: none; }

div.footer {
  position: relative;
  width: 100%;
  font-size: 10pt;
  color: #333;
  text-align: center;
  clear: both;
  margin-top: 10px;
  margin-bottom: 10px; }
  div.footer a {
    text-decoration: underline; }
    div.footer a:hover, div.footer a:link, div.footer a:active, div.footer a:visited {
      color: #333; }

img.promoimage {
  width: 100%;
  height: auto;
  border-radius: 10px; }

div.pagination {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0px 1px 0px white; }
  div.pagination .page {
    display: inline-block;
    padding: 0px 9px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.8), 0px 1px 3px rgba(0, 0, 0, 0.1); }
    div.pagination .page:hover {
      background: #fefefe;
      color: #140033; }
    div.pagination .page.active {
      border: none;
      background: #6600ff;
      box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.8);
      color: #f0f0f0;
      text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5); }

table.shopfor {
  width: 100%;
  line-height: 100%;
  border: none; }
  table.shopfor td {
    text-align: center;
    vertical-align: top;
    padding-bottom: 12px;
    width: 20%; }
    table.shopfor td img {
      width: auto;
      height: 100px; }

table.newproducts {
  width: 100%;
  line-height: 110%;
  border: none; }
  table.newproducts td {
    border: none;
    text-align: center;
    vertical-align: top;
    padding-bottom: 12px;
    width: 20%;
    font-size: 110%;
    font-weight: bold; }
    table.newproducts td img {
      width: auto;
      height: 170px;
      max-width: 160px; }
    table.newproducts td p {
      margin: 0; }
    table.newproducts td p.price {
      color: maroon; }

p.morenew {
  margin: 0;
  margin-top: -10px;
  width: 100%;
  text-align: right;
  font-size: 140%;
  font-weight: bold; }
